.buttons {
	margin-left: 45%;
	margin-top: 240px;
}
.rows {
	margin-top: 5px;
}
.txtArea {
	background: rgb(0, 0, 0);
	color: white;

}
.b0 {
	margin-left: 33.5px;
}

.tecken {
	margin-left: -15px;
	/*margin-top: 10px;*/
	/*margin-left: 10%;*/
}


.operationer {

}
